body{
    background-color:burlywood;
    
}
a:link{
    color:#8b4513;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color:green;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color:black;
    background-color: transparent;
    text-decoration: none;
}
a:active{
    color:yellow;
    background-color: transparent;
    text-decoration: underline;
}
img{
    border:4px solid #8b4513;
}